Repository NoorXLabs/SkyBox: changes, and which lefthook commands are due for each by the changed paths.
All: lockfile, docs-sync, check, test

lefthook.yml:

pre-commit:
  piped: true
  commands:
    lockfile:
      priority: 0
      run: bun run src/lib/verify-lockfile.ts
      glob: "package.json|bun.lock"
    docs-sync:
      priority: 1
      glob: "src/lib/command-manifest.ts|docs/reference/*.md|docs/.vitepress/commands.ts|scripts/sync-command-reference.ts"
      run: bun run docs:sync-commands:check
    check:
      priority: 2
      glob: "*.{js,ts,json}"
      run: bun run check
      stage_fixed: true
    typecheck:
      priority: 3
      run: bun run typecheck
    test:
      priority: 4
      glob: "{src,tests}/**/*.{ts,test.ts}"
      run: bun run test

Run skybox docs audit
  CLAUDE.md
  docs/.vitepress/config.ts
  docs/architecture/codebase.md
  docs/architecture/design-decisions.md
  docs/architecture/index.md
  docs/guide/quick-start.md
  docs/reference/custom-templates.md
  docs/reference/dashboard.md
  docs/reference/down.md
  docs/reference/editor.md
  docs/reference/up.md
  docs/snippets/env-vars-table.md
Due: check

Remove outdated architecture docs and sync references (#62)
  CLAUDE.md
  docs/.vitepress/config.ts
  docs/architecture/codebase.md
  docs/architecture/design-decisions.md
  docs/architecture/index.md
  docs/guide/quick-start.md
  docs/reference/custom-templates.md
  docs/reference/dashboard.md
  docs/reference/down.md
  docs/reference/editor.md
  docs/reference/up.md
  docs/snippets/env-vars-table.md
Due: check

feat(ssh): add passphrase-protected key support with ssh-agent integration
  CHANGELOG.md
  docs/guide/concepts.md
  docs/guide/installation.md
  docs/guide/troubleshooting.md
  docs/reference/configuration.md
  docs/reference/init.md
  docs/reference/remote.md
  plans/ssh-passphrase-support.md
  src/commands/browse.ts
  src/commands/clone.ts
  src/commands/doctor.ts
  src/commands/down.ts
  src/commands/init.ts
  src/commands/push.ts
  src/commands/rm.ts
  src/commands/status.ts
  src/commands/up.ts
  src/lib/config-schema.ts
  src/lib/constants.ts
  src/lib/ssh.ts
  src/types/index.ts
  tests/unit/lib/config-schema.test.ts
  tests/unit/lib/ssh-agent.test.ts
Due: check, test

fix(ssh): use node:child_process instead of execa in ssh-agent functions
  src/lib/ssh.ts
Due: check, test

fix(ssh): resolve double passphrase prompt during init on macOS
  plans/IMPLEMENTATION.md
  plans/archive/ARCHIVED-IMPLEMENTATION.md
  src/commands/init.ts
Due: check, test

feat(ssh): add passphrase-protected key support with ssh-agent integration (#63)
  CHANGELOG.md
  docs/guide/concepts.md
  docs/guide/installation.md
  docs/guide/troubleshooting.md
  docs/reference/configuration.md
  docs/reference/init.md
  docs/reference/remote.md
  plans/IMPLEMENTATION.md
  plans/archive/ARCHIVED-IMPLEMENTATION.md
  plans/ssh-passphrase-support.md
  src/commands/browse.ts
  src/commands/clone.ts
  src/commands/doctor.ts
  src/commands/down.ts
  src/commands/init.ts
  src/commands/push.ts
  src/commands/rm.ts
  src/commands/status.ts
  src/commands/up.ts
  src/lib/config-schema.ts
  src/lib/constants.ts
  src/lib/ssh.ts
  src/types/index.ts
  tests/unit/lib/config-schema.test.ts
  tests/unit/lib/ssh-agent.test.ts
Due: check, test

Add gitignore for local agents
  compose.yml
Due: none

Delete compose.yml
  compose.yml
Due: none

docs: apply documentation audit fixes across 18 files
  CHANGELOG.md
  docs/.vitepress/commands.ts
  docs/.vitepress/config.ts
  docs/guide/concepts.md
  docs/guide/installation.md
  docs/guide/quick-start.md
  docs/guide/troubleshooting.md
  docs/guide/workflows/daily-development.md
  docs/guide/workflows/multi-machine.md
  docs/guide/workflows/new-project.md
  docs/reference/custom-templates.md
  docs/reference/down.md
  docs/reference/encryption.md
  docs/reference/index.md
  docs/reference/status.md
  docs/reference/up.md
  docs/snippets/env-vars-table.md
  docs/snippets/templates-table.md
  plans/archive/down-multi-select.md
  plans/archive/ssh-passphrase-support.md
Due: check

docs: apply documentation audit fixes across 18 files (#64)
  CHANGELOG.md
  docs/.vitepress/commands.ts
  docs/.vitepress/config.ts
  docs/guide/concepts.md
  docs/guide/installation.md
  docs/guide/quick-start.md
  docs/guide/troubleshooting.md
  docs/guide/workflows/daily-development.md
  docs/guide/workflows/multi-machine.md
  docs/guide/workflows/new-project.md
  docs/reference/custom-templates.md
  docs/reference/down.md
  docs/reference/encryption.md
  docs/reference/index.md
  docs/reference/status.md
  docs/reference/up.md
  docs/snippets/env-vars-table.md
  docs/snippets/templates-table.md
  plans/archive/down-multi-select.md
  plans/archive/ssh-passphrase-support.md
Due: check

chore: bump version to 0.8.1
  package.json
Due: check

chore: bump version to 0.8.2
  package.json
Due: check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update changelog for v0.8.3 release
  CHANGELOG.md
Due: none

Update release workflow checksums
  .github/workflows/release.yml
Due: none

chore: bump version to 0.8.3
  package.json
Due: check

Finalize 0.8.4 release updates
  CHANGELOG.md
  scripts/release.sh
Due: none

chore: bump version to 0.8.4
  package.json
Due: check

Update docs install command
  docs/guide/installation.md
Due: none

Fix for workflow not containing permissions
  .github/workflows/e2e.yml
Due: none

Fix for workflow not containing permissions (#65)
  .github/workflows/e2e.yml
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

fix: prevent installer checksum collisions in release artifacts
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

chore: bump version to 0.8.5
  package.json
Due: check

refactor: replace argon2 with scrypt kdf
  CHANGELOG.md
  bun.lock
  docs/guide/concepts.md
  docs/reference/configuration.md
  docs/reference/encryption.md
  package.json
  src/commands/down.ts
  src/commands/encrypt.ts
  src/commands/new.ts
  src/commands/up.ts
  src/lib/constants.ts
  src/lib/encryption.ts
  src/types/index.ts
  tests/unit/commands/encrypt.test.ts
  tests/unit/commands/encryption-passphrase-confirmation.test.ts
  tests/unit/lib/encryption.test.ts
Due: check, test

chore: bump version to 0.8.6
  package.json
Due: check

chore: add CodeQL workflow on self-hosted runner
  .github/workflows/codeql.yml
Due: none

fix: correct CodeQL workflow if expression syntax
  .github/workflows/codeql.yml
Due: none

Upgrade CodeQL actions to v4
  .github/workflows/codeql.yml
Due: none

fix: remove CodeQL autobuild for javascript-typescript
  .github/workflows/codeql.yml
Due: none

fix: align CodeQL workflow with advanced matrix build modes
  .github/workflows/codeql.yml
Due: none

fix: pin Node 20 for CodeQL analysis
  .github/workflows/codeql.yml
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: remove telemetry and rybbit integration
  .github/workflows/release.yml
  docs/reference/configuration.md
  docs/snippets/env-vars-table.md
  src/index.ts
  src/lib/constants.ts
  src/lib/paths.ts
  src/lib/telemetry.ts
  src/types/index.ts
  tests/unit/lib/telemetry.test.ts
Due: check, test

chore: prepare changelog for v0.8.7
  CHANGELOG.md
Due: none

chore: bump version to 0.8.7
  package.json
Due: check

fix: show brew upgrade command when homebrew is installed
  CHANGELOG.md
  src/commands/update.ts
  src/index.ts
  src/lib/update-check.ts
  tests/unit/lib/constants.test.ts
  tests/unit/lib/update-check.test.ts
Due: check, test

docs: prepare changelog for v0.8.8
  CHANGELOG.md
Due: none
