Repository NoorXLabs/SkyBox: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

lefthook.yml:

pre-commit:
  piped: true
  commands:
    check:
      priority: 1
      glob: "*.{js,ts,json}"
      run: bun run check
      stage_fixed: true
    typecheck:
      priority: 2
      run: bun run typecheck
    test:
      priority: 3
      glob: "{src,tests}/**/*.{ts,test.ts}"
      run: bun run test

fix(security): set restrictive permissions on config file
  src/lib/config.ts
  tests/unit/lib/config.test.ts
Due: check, test

chore: archive completed plans and add security batch plans
  plans/2026-02-03-security-batch-1-critical-fixes.md
  plans/2026-02-03-security-batch-2-high-priority-fixes.md
  plans/2026-02-03-security-batch-3a-medium-fixes.md
  plans/2026-02-03-security-batch-3b-high-effort-fixes.md
  plans/2026-02-03-security-batch-4-info-disclosure-fixes.md
  plans/2026-02-03-security-batch-5-low-priority-monitoring.md
  plans/IMPLEMENTATION.md
  plans/archive/ARCHIVED-IMPLEMENTATION.md
Due: none

fix(security): create devbox directories with 0o700 permissions
  src/commands/init.ts
  tests/unit/commands/init-permissions.test.ts
Due: check, test

fix(security): use unpredictable temp dirs in encrypt.ts
  src/commands/encrypt.ts
  tests/unit/commands/encrypt-tempfiles.test.ts
Due: check, test

fix(security): escape shell args in remote commands
  src/commands/init.ts
  src/commands/push.ts
  src/commands/remote.ts
  src/lib/remote.ts
  tests/unit/lib/remote.test.ts
Due: check, test

fix(security): replace curl|bash with npm install in bun template
  tests/unit/lib/constants.test.ts
Due: check, test

fix(security): use unpredictable temp dirs in up.ts
  src/commands/up.ts
Due: check, test

fix(security): strengthen Argon2 parameters to OWASP minimums
  src/lib/constants.ts
Due: check, test

fix(security): standardize project name validation in rm.ts
  src/commands/rm.ts
  tests/unit/commands/rm.test.ts
Due: check, test

fix(security): validate remote paths for shell metacharacters
  src/commands/remote.ts
  src/lib/validation.ts
  tests/unit/lib/validation.test.ts
Due: check, test

fix(security): verify Mutagen binary checksums before execution
  src/lib/download.ts
  tests/unit/lib/download.test.ts
Due: check, test

fix(security): address code review recommendations from security audit
  .github/workflows/release.yml
  CLAUDE.md
  src/lib/gpg.ts
  src/lib/ownership.ts
  src/lib/shutdown.ts
  src/lib/validation.ts
  tests/unit/commands/up.test.ts
  tests/unit/lib/config.test.ts
  tests/unit/lib/constants.test.ts
  tests/unit/lib/gpg.test.ts
  tests/unit/lib/ownership.test.ts
  tests/unit/lib/shutdown.test.ts
  tests/unit/lib/ssh.test.ts
Due: check, test

fix: address code review issues from security fixes
  src/commands/up.ts
  src/lib/ssh.ts
  tests/unit/commands/up.test.ts
  tests/unit/lib/config.test.ts
  tests/unit/lib/shutdown.test.ts
  tests/unit/lib/ssh.test.ts
Due: check, test

feat(security): add runtime config schema validation
  src/lib/audit.ts
  src/lib/config-schema.ts
  tests/unit/lib/audit.test.ts
Due: check, test

feat(security): add audit logging to up/down commands
  src/commands/down.ts
  src/commands/up.ts
  tests/unit/commands/up.test.ts
Due: check, test

feat(security): add audit logging to clone command
  src/commands/clone.ts
  src/commands/push.ts
  src/commands/rm.ts
Due: check, test

fix(security): improve config file handling and error sanitization
  src/commands/list.ts
  src/lib/config.ts
  src/lib/ownership.ts
  tests/unit/lib/config.test.ts
Due: check, test

docs: add security implementation plans
  plans/2026-02-04-security-remaining-tasks.md
  plans/2026-02-04-security-review-fixes.md
Due: none

fix(security): address code review findings
  src/commands/push.ts
  src/commands/rm.ts
  src/lib/audit.ts
  src/lib/constants.ts
  tests/unit/lib/audit.test.ts
  tests/unit/lib/gpg.test.ts
  tests/unit/lib/shutdown.test.ts
Due: check, test

fix(security): add GPG signature verification for Mutagen downloads
  src/index.ts
  src/lib/download.ts
  src/lib/gpg.ts
  src/lib/hooks.ts
  src/lib/shutdown.ts
Due: check, test

docs: update configuration docs with security environment variables
  .gitignore
  docs/reference/configuration.md
  lefthook.yml
  scripts/verify-lockfile.ts
Due: check

fix: resolve post-rebase compatibility issues
  src/lib/constants.ts
  src/types/index.ts
  tests/unit/commands/init-permissions.test.ts
  tests/unit/lib/constants.test.ts
  tests/unit/lib/gpg.test.ts
  tests/unit/lib/ownership.test.ts
Due: check, test

feat(security): complete security audit and implementation
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  docs/guide/concepts.md
  docs/reference/encryption.md
  docs/reference/hooks.md
  docs/reference/init.md
  docs/reference/push.md
  docs/reference/rm.md
  lefthook.yml
  plans/IMPLEMENTATION.md
  plans/archive/2026-02-03-security-batch-1-critical-fixes.md
  plans/archive/2026-02-03-security-batch-2-high-priority-fixes.md
  plans/archive/2026-02-03-security-batch-3a-medium-fixes.md
  plans/archive/2026-02-03-security-batch-3b-high-effort-fixes.md
  plans/archive/2026-02-03-security-batch-4-info-disclosure-fixes.md
  plans/archive/2026-02-03-security-batch-5-low-priority-monitoring.md
  plans/archive/2026-02-04-rm-remote-multi-design.md
  plans/archive/2026-02-04-security-remaining-tasks.md
  plans/archive/2026-02-04-security-review-fixes.md
  plans/archive/ARCHIVED-IMPLEMENTATION.md
  src/lib/config-schema.ts
  src/lib/constants.ts
  src/lib/download.ts
  src/lib/encryption.ts
  src/lib/gpg.ts
  src/lib/shutdown.ts
  src/lib/validation.ts
  src/lib/verify-lockfile.ts
  src/types/index.ts
  tests/unit/commands/init-permissions.test.ts
  tests/unit/lib/encryption.test.ts
  tests/unit/lib/gpg.test.ts
  tests/unit/lib/shutdown.test.ts
  tests/unit/lib/validation.test.ts
Due: check, test

chore: add bun.lock files for reproducible builds
  bun.lock
  docs/bun.lock
Due: none

docs: add rename devbox to skybox plan
  plans/2026-02-04-rename-devbox-to-skybox.md
Due: none

Bump dependencies and update .gitignore
  .gitignore
  bun.lock
  package.json
Due: check

docs: simplify installation prerequisites and merge duplicate install tabs
  docs/guide/installation.md
Due: none

Update installation.md
  docs/guide/installation.md
Due: none

docs: add missing session status and dry-run mode documentation
  docs/reference/dashboard.md
  docs/reference/index.md
Due: none

docs: add audit skill, update CHANGELOG, and fix stale references
  .claude/skills/skybox-audit-docs/SKILL.md
  .claude/skills/skybox-prep-release/SKILL.md
  .claude/skills/skybox-update-docs/SKILL.md
  CHANGELOG.md
  CLAUDE.md
  docs/guide/installation.md
  plans/2026-02-05-docs-audit-skill-design.md
Due: none

docs: add audit skill, update CHANGELOG, and fix stale references (#44)
  .claude/skills/skybox-audit-docs/SKILL.md
  .claude/skills/skybox-prep-release/SKILL.md
  .claude/skills/skybox-update-docs/SKILL.md
  CHANGELOG.md
  CLAUDE.md
  docs/guide/installation.md
  plans/2026-02-05-docs-audit-skill-design.md
Due: none

feat(security): harden input validation, audit logging, and shell escaping
  docs/reference/configuration.md
  docs/reference/init.md
  docs/reference/remote.md
  plans/2026-02-05-security-audit-fixes.md
  plans/2026-02-06-code-review-fix-plan.md
  plans/2026-02-06-post-review-followups.md
  plans/IMPLEMENTATION.md
  plans/archive/ARCHIVED-IMPLEMENTATION.md
  src/commands/browse.ts
  src/commands/clone.ts
  src/commands/down.ts
  src/commands/encrypt.ts
  src/commands/init.ts
  src/commands/new.ts
  src/commands/remote.ts
  src/commands/status.ts
  src/commands/up.ts
  src/index.ts
  src/lib/audit.ts
  src/lib/constants.ts
  src/lib/container.ts
  src/lib/download.ts
  src/lib/gpg.ts
  src/lib/ownership.ts
  src/lib/projectTemplates.ts
  src/lib/remote.ts
  src/lib/shell.ts
  src/lib/ssh.ts
  src/lib/templates.ts
  src/lib/validation.ts
  src/types/index.ts
  tests/unit/commands/clone.test.ts
  tests/unit/commands/init.test.ts
  tests/unit/lib/config.test.ts
  tests/unit/lib/gpg.test.ts
  tests/unit/lib/projectTemplates.test.ts
  tests/unit/lib/shell.test.ts
  tests/unit/lib/ssh.test.ts
  tests/unit/lib/templates.test.ts
  tests/unit/lib/validation.test.ts
Due: check, test

docs: fix stale info and add missing key files to CLAUDE.md
  CLAUDE.md
  plans/archive/2026-02-04-rename-devbox-to-skybox.md
  plans/archive/2026-02-05-test-suite-review-fixes.md
Due: none

fix: handle GPG import errors inside try/catch in gpg.ts
  src/lib/gpg.ts
Due: check, test
