Repository NoorXLabs/SkyBox: changes, and which lefthook commands are due for each by the changed paths.
All: lockfile, check, test

lefthook.yml:

pre-commit:
  piped: true
  commands:
    lockfile:
      priority: 0
      run: bun run src/lib/verify-lockfile.ts
      glob: "package.json|bun.lock"
    check:
      priority: 1
      glob: "*.{js,ts,json}"
      run: bun run check
      stage_fixed: true
    typecheck:
      priority: 2
      run: bun run typecheck
    test:
      priority: 3
      glob: "{src,tests}/**/*.{ts,test.ts}"
      run: bun run test

chore: bump version to 0.8.8
  package.json
Due: check

Add SVG logo beside SkyBox title
  README.md
Due: none

Align logo with SkyBox title
  README.md
Due: none

Update README.md
  README.md
Due: none

Add AGENTS.md and CLAUDE.md; update .gitignore
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

refactor: finalize state consolidation and improve error handling
  CHANGELOG.md
  CLAUDE.md
  docs/guide/workflows/new-project.md
  docs/plans/2026-02-11-consolidate-state-file-design.md
  docs/reference/open.md
  src/commands/down.ts
  src/commands/up.ts
  src/lib/constants.ts
  src/lib/download.ts
  src/lib/mutagen-extract.ts
  src/lib/mutagen-platform.ts
  src/lib/remote.ts
  src/lib/state.ts
Due: check, test

Delete docs/plans/2026-02-11-consolidate-state-file-design.md
  docs/plans/2026-02-11-consolidate-state-file-design.md
Due: none

Delete docs/plans/2026-02-11-gitignore-skybox-design.md
  docs/plans/2026-02-11-gitignore-skybox-design.md
Due: none

chore: bump version to 0.8.9
  package.json
Due: check

fix: terminate stale Mutagen sessions before push sync
  src/commands/push.ts
Due: check, test

docs: add push stale session fix to changelog
  CHANGELOG.md
Due: none

fix: resolve remote .gitignore update failing due to shell syntax error
  CHANGELOG.md
  src/lib/remote.ts
Due: check, test

Use .skybox in gitignore entry (no wildcard)
  src/lib/remote.ts
  tests/unit/lib/gitignore.test.ts
Due: check, test

fix: harden state file handling and fix docs/test issues
  docs/snippets/session-file-format.md
  src/lib/state.ts
  tests/unit/lib/projectTemplates.test.ts
Due: check, test

docs: add state file corruption fix to changelog
  CHANGELOG.md
Due: none
