Repository NoorXLabs/SkyBox: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

check:
  priority: 1
  run: bun run check
  stage_fixed: true

test:
  priority: 3
  run: bun run test

Update changelog for docs changes
  docs/guide/concepts.md
  docs/reference/config.md
  docs/reference/custom-templates.md
  docs/reference/up.md
  src/commands/config-devcontainer.ts
  src/commands/up.ts
  src/lib/templates.ts
Due: check, test

Move 2026-02 plan files to archive
  plans/archive/2026-02-05-docs-audit-skill-design.md
  plans/archive/2026-02-06-security-audit-review-fixes.md
Due: none

chore: bump version to 0.8.0
  package.json
Due: check

refactor: simplify duplicated sync, prompts, and test contexts
  src/commands/clone.ts
  src/commands/new.ts
  src/commands/push.ts
  src/commands/status.ts
  src/lib/container-start.ts
  src/lib/download.ts
  src/lib/encryption.ts
  src/lib/project-sync.ts
  src/lib/remote-encryption.ts
  tests/e2e/helpers/e2e-test-utils.ts
  tests/helpers/test-utils.ts
  tests/integration/helpers/docker-test-utils.ts
Due: check, test

refactor: simplify duplicated sync, prompts, and test contexts (#47)
  src/commands/clone.ts
  src/commands/new.ts
  src/commands/push.ts
  src/commands/status.ts
  src/lib/container-start.ts
  src/lib/download.ts
  src/lib/encryption.ts
  src/lib/project-sync.ts
  src/lib/remote-encryption.ts
  tests/e2e/helpers/e2e-test-utils.ts
  tests/helpers/test-utils.ts
  tests/integration/helpers/docker-test-utils.ts
Due: check, test

docs: record unreleased internal refactor updates
  CHANGELOG.md
Due: none

docs: record unreleased internal refactor updates (#48)
  CHANGELOG.md
Due: none

feat: add OSS contribution templates and auto-label workflows
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_improvement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/auto-label.yml
  .github/workflows/sync-labels.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
Due: none

feat: add OSS contribution templates and auto-label workflows (#49)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_improvement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/auto-label.yml
  .github/workflows/sync-labels.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

refactor: move .dockerignore to docs directory
  .dockerignore
  docs/.dockerignore
Due: none

refactor: move .dockerignore to docs directory (#50)
  .dockerignore
  docs/.dockerignore
Due: none

docs: use mailto reporting links with prefilled subjects
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: none

docs: use mailto reporting links with prefilled subjects (#51)
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: none

Add docs Open Graph images
  docs/public/og-image.png
  docs/public/og-image.svg
Due: none

docs: add SEO metadata and remove source install method
  docs/.vitepress/config.ts
  docs/guide/concepts.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/quick-start.md
  docs/guide/shell-integration.md
  docs/guide/troubleshooting.md
  docs/guide/workflows/daily-development.md
  docs/guide/workflows/multi-machine.md
  docs/guide/workflows/new-project.md
  docs/index.md
  docs/reference/browse.md
  docs/reference/clone.md
  docs/reference/config.md
  docs/reference/configuration.md
  docs/reference/custom-templates.md
  docs/reference/dashboard.md
  docs/reference/doctor.md
  docs/reference/down.md
  docs/reference/editor.md
  docs/reference/encryption.md
  docs/reference/hook.md
  docs/reference/hooks.md
  docs/reference/index.md
  docs/reference/init.md
  docs/reference/list.md
  docs/reference/logs.md
  docs/reference/new.md
  docs/reference/open.md
  docs/reference/push.md
  docs/reference/remote.md
  docs/reference/rm.md
  docs/reference/shell.md
  docs/reference/status.md
  docs/reference/up.md
  docs/reference/update.md
  plans/IMPLEMENTATION.md
  plans/export-import.md
Due: check

docs: add SEO metadata and remove source install method (#52)
  docs/.vitepress/config.ts
  docs/guide/concepts.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/quick-start.md
  docs/guide/shell-integration.md
  docs/guide/troubleshooting.md
  docs/guide/workflows/daily-development.md
  docs/guide/workflows/multi-machine.md
  docs/guide/workflows/new-project.md
  docs/index.md
  docs/reference/browse.md
  docs/reference/clone.md
  docs/reference/config.md
  docs/reference/configuration.md
  docs/reference/custom-templates.md
  docs/reference/dashboard.md
  docs/reference/doctor.md
  docs/reference/down.md
  docs/reference/editor.md
  docs/reference/encryption.md
  docs/reference/hook.md
  docs/reference/hooks.md
  docs/reference/index.md
  docs/reference/init.md
  docs/reference/list.md
  docs/reference/logs.md
  docs/reference/new.md
  docs/reference/open.md
  docs/reference/push.md
  docs/reference/remote.md
  docs/reference/rm.md
  docs/reference/shell.md
  docs/reference/status.md
  docs/reference/up.md
  docs/reference/update.md
  plans/IMPLEMENTATION.md
  plans/export-import.md
Due: check

Update installation.md
  docs/guide/installation.md
Due: none

feat: multi-select down, escapeRemotePath fixes, and container flag fix
  CHANGELOG.md
  CLAUDE.md
  plans/IMPLEMENTATION.md
  plans/down-multi-select.md
  src/commands/clone.ts
  src/commands/config-devcontainer.ts
  src/commands/down.ts
  src/commands/encrypt.ts
  src/commands/push.ts
  src/commands/rm.ts
  src/lib/container.ts
  src/lib/ownership.ts
  src/lib/remote-encryption.ts
  src/lib/remote.ts
  src/lib/ui.ts
Due: check, test

feat: multi-select down, escapeRemotePath fixes, container flag fix (#53)
  CHANGELOG.md
  CLAUDE.md
  plans/IMPLEMENTATION.md
  plans/down-multi-select.md
  src/commands/clone.ts
  src/commands/config-devcontainer.ts
  src/commands/down.ts
  src/commands/encrypt.ts
  src/commands/push.ts
  src/commands/rm.ts
  src/lib/container.ts
  src/lib/ownership.ts
  src/lib/remote-encryption.ts
  src/lib/remote.ts
  src/lib/ui.ts
Due: check, test

feat(cli): add full docs link to top-level help
  src/index.ts
  tests/unit/commands/dry-run-global.test.ts
Due: check, test

feat(cli): add full docs URL to top-level help (#54)
  src/index.ts
  tests/unit/commands/dry-run-global.test.ts
Due: check, test

fix: make editor launching resilient with macOS fallback
  docs/guide/troubleshooting.md
  docs/reference/config.md
  docs/reference/editor.md
  src/commands/config-devcontainer.ts
  src/commands/doctor.ts
  src/lib/container.ts
  src/lib/editor-launch.ts
  src/lib/templates.ts
  tests/unit/commands/doctor.test.ts
  tests/unit/lib/container-id-isolated.test.ts
  tests/unit/lib/editor-launch.test.ts
Due: check, test

fix: reliable editor launching with macOS fallback and doctor check (#55)
  docs/guide/troubleshooting.md
  docs/reference/config.md
  docs/reference/editor.md
  src/commands/config-devcontainer.ts
  src/commands/doctor.ts
  src/lib/container.ts
  src/lib/editor-launch.ts
  src/lib/templates.ts
  tests/unit/commands/doctor.test.ts
  tests/unit/lib/container-id-isolated.test.ts
  tests/unit/lib/editor-launch.test.ts
Due: check, test

docs: add AGENTS.md agent operating guide
  AGENTS.md
Due: none

fix: require passphrase confirmation in skybox new
  CHANGELOG.md
  docs/reference/new.md
  src/commands/new.ts
  tests/unit/commands/encryption-passphrase-confirmation.test.ts
Due: check, test

docs: add AGENTS.md aligned with CLAUDE guidance (#56)
  AGENTS.md
Due: none

fix: require passphrase confirmation in skybox new (#57)
  CHANGELOG.md
  docs/reference/new.md
  src/commands/new.ts
  tests/unit/commands/encryption-passphrase-confirmation.test.ts
Due: check, test

refactor: dedupe core helpers and status types
  src/commands/clone.ts
  src/commands/config-devcontainer.ts
  src/commands/new.ts
  src/commands/push.ts
  src/commands/rm.ts
  src/lib/command-guard.ts
  src/lib/download.ts
  src/lib/mutagen-extract.ts
  src/lib/mutagen-platform.ts
  src/lib/remote-devcontainer.ts
  src/types/index.ts
Due: check, test

feat(cli): enrich help output with examples and quick start
  src/index.ts
  tests/unit/commands/help-output.test.ts
Due: check, test

refactor: apply remaining simplification fixes
  src/commands/config.ts
  src/commands/down.ts
  src/commands/init.ts
  src/commands/list.ts
  src/commands/rm.ts
  src/commands/up.ts
  tests/helpers/test-utils.ts
  tests/unit/commands/doctor.test.ts
  tests/unit/commands/list.test.ts
  tests/unit/commands/new.test.ts
  tests/unit/commands/remote.test.ts
  tests/unit/commands/shell.test.ts
  tests/unit/lib/container.test.ts
Due: check, test

docs(changelog): note improved CLI help guidance
  CHANGELOG.md
Due: none

feat(cli): make help output actionable with examples and quick start (#59)
  CHANGELOG.md
  src/index.ts
  tests/unit/commands/help-output.test.ts
Due: check, test

feat(cli/docs): unify command metadata and sync help/docs
  .github/workflows/ci.yml
  docs/.vitepress/commands.ts
  docs/reference/browse.md
  docs/reference/clone.md
  docs/reference/config.md
  docs/reference/dashboard.md
  docs/reference/doctor.md
  docs/reference/down.md
  docs/reference/editor.md
  docs/reference/encryption.md
  docs/reference/hook.md
  docs/reference/init.md
  docs/reference/list.md
  docs/reference/logs.md
  docs/reference/new.md
  docs/reference/open.md
  docs/reference/push.md
  docs/reference/remote.md
  docs/reference/rm.md
  docs/reference/shell.md
  docs/reference/status.md
  docs/reference/up.md
  docs/reference/update.md
  lefthook.yml
  package.json
  scripts/sync-command-reference.ts
  src/index.ts
  src/lib/command-manifest.ts
  tests/unit/commands/docs-sync.test.ts
  tests/unit/commands/help-output.test.ts
Due: check, test

refactor: apply simplification fixes across commands and tests (#58)
  src/commands/clone.ts
  src/commands/config-devcontainer.ts
  src/commands/config.ts
  src/commands/down.ts
  src/commands/init.ts
  src/commands/list.ts
  src/commands/new.ts
  src/commands/push.ts
  src/commands/rm.ts
  src/commands/up.ts
  src/lib/command-guard.ts
  src/lib/download.ts
  src/lib/mutagen-extract.ts
  src/lib/mutagen-platform.ts
  src/lib/remote-devcontainer.ts
  src/types/index.ts
  tests/helpers/test-utils.ts
  tests/unit/commands/doctor.test.ts
  tests/unit/commands/list.test.ts
  tests/unit/commands/new.test.ts
  tests/unit/commands/remote.test.ts
  tests/unit/commands/shell.test.ts
  tests/unit/lib/container.test.ts
Due: check, test

refactor: simplify shared helpers and centralize types
  src/commands/push.ts
  src/commands/remote.ts
  src/lib/atomic-write.ts
  src/lib/config.ts
  src/lib/container.ts
  src/lib/download.ts
  src/lib/errors.ts
  src/lib/mutagen-platform.ts
  src/lib/project.ts
  src/lib/remote-encryption.ts
  src/lib/remote.ts
  src/lib/session.ts
  src/lib/ssh.ts
  src/lib/templates.ts
  src/types/index.ts
  tests/unit/commands/encrypt.test.ts
  tests/unit/commands/init-permissions.test.ts
  tests/unit/lib/update-check.test.ts
Due: check, test

refactor: simplify duplicated helpers and centralize reusable types (#61)
  src/commands/push.ts
  src/commands/remote.ts
  src/lib/atomic-write.ts
  src/lib/config.ts
  src/lib/container.ts
  src/lib/download.ts
  src/lib/errors.ts
  src/lib/mutagen-platform.ts
  src/lib/project.ts
  src/lib/remote-encryption.ts
  src/lib/remote.ts
  src/lib/session.ts
  src/lib/ssh.ts
  src/lib/templates.ts
  src/types/index.ts
  tests/unit/commands/encrypt.test.ts
  tests/unit/commands/init-permissions.test.ts
  tests/unit/lib/update-check.test.ts
Due: check, test

Path conditions:
  check: any of: *.{js,ts,json}
  test: any of: {src,tests}/**/*.{ts,test.ts}
